</body>
<footer class="footer-basic-centered">

  <p class="footer-company-motto">Phil Whitby Photography</p>

  <p class="footer-links">
    <a href="/">Home</a>
    路
    <a target= "_blank" href="http://www.ersum.tumblr.com">tumblr</a>
    路
    <a href="pricing">Pricing</a>
    路
    <a href="/#anchor">Galleries</a>
    路
    <a href="contact">Contact</a>
  </p>
  <p>Phil Whitby Photography &copy; <%= (new Date()).getFullYear() %></p>

</footer>
