<h6 class='pricingcontent'>
  Phil is a Liverpool based photographer whose work focuses on wedding and street photography.<br>
<br>

  <b>Standard Day Package: £1,000</b><br>
  <br>
  This comprises of a 10 hour day, including bridal prep, ceremony, reception, speeches & first dance. All editing and post processing is included in the price as well as 300 - 400 pictures on a memory stick and online gallery hosting for 12 months
<br>
<br>
  <b>Day Package Plus: £1,300</b><br>
  <br>
  This comprises of a 10 hour day with two photographers (Phil + assistant photographer). It includes, bridal prep, groom prep, ceremony, reception, speeches, first dance & guest portraits throughout the day. All editing and post processing is included in the price as well as 400 - 500 pictures on a memory stick and online gallery hosting for 12 months.

<br>
<br>
  <b>Bespoke packages:</b> <br>
  <br>
 Should you require longer or shorter hours for your shoot we are more than happy to provide a bespoke quote based on a <b> £100 hourly rate</b>. If you require something specific and have a set budget to work with feel free to speak with us and we will do all we can to help meet your needs. For “off peak” dates or dates when we have received cancellations we can offer discounted rates, so it’s always worth dropping us a line.
<br>
<br>
  For more information on Phil's work, to talk about employment opportunities, or to just say hello, feel free to get in touch.
<br>
<br>
<b>Photobook prices available on request.</b><br>
<br>
</h6>
